<div class=" grid grid-cols-1 pt-5">
    <div class="bg-gray-800/50 rounded-lg border border-gray-900 p-4 mb-2">
        <h3 class="text-sm text-center font-semibold text-gray-300 uppercase tracking-wider">Vos demandes</h3>
    </div>

    <div class="grid grid-cols-1 gap-0.5 ">
        @for (intervention of interventionsAssigned; track intervention.id) {
        <div class="bg-gray-900 border border-gray-500 rounded-xl p-4 hover:bg-gray-800/70 transition-colors cursor-pointer"
            (click)="toggleDetails(intervention.id)">
            <div class="grid grid-cols-2 items-center text-center ">
                <div>
                    <p class="text-white font-semibold mb-1">{{ intervention.title }}</p>
                </div>
                <div>
                    <span class="text-sm text-gray-500">{{ intervention.created_at | date:'dd/MM/yyyy' }}</span>
                </div>
            </div>

        </div>
        <div class="grid transition-all duration-900"
            [ngClass]="expandedId === intervention.id ? 'grid-rows-[1fr]' : 'grid-rows-[0fr]'">
            <div class="w-full  overflow-hidden border border-gray-200 dark:border-gray-700 rounded-lg">
                <div
                    class="bg-gray-50 dark:bg-gray-800 px-4 py-3.5 flex items-center border-b border-gray-200 dark:border-gray-700">
                    <h3 class="text-sm font-normal text-gray-500 dark:text-gray-400">Détails de l'intervention</h3>
                </div>
                <div class="bg-white dark:bg-gray-900 p-6 space-y-4 text-sm grid grid-cols-2">
                    <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                        <span class="text-slate-500 font-medium">Titre</span>
                        <span class="text-base font-semibold text-slate-100">{{ intervention.title }}</span>
                    </div>
                    <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                        <span class="text-slate-500 font-medium">Lieu</span>
                        <span class="text-base text-slate-100">{{ intervention.location }}</span>
                    </div>
                    <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                        <span class="text-slate-500 font-medium">Date de création</span>
                        <span class="font-mono text-slate-100">{{ intervention.created_at | date:"dd/MM/yyyy" }}</span>
                    </div>
                    <div class="flex flex-col pb-2">
                        <span class="text-slate-500 font-medium mb-1">Statut</span>
                        <span [ngClass]="getStatusClass(intervention.status).cssClass"
                            class="inline-block w-fit px-2.5 py-0.5 rounded-full text-xs font-bold uppercase tracking-wider">
                            {{ getStatusClass(intervention.status).label }}
                        </span>
                    </div>


                    <div class="flex justify-center">
                        <button class="btn-primary" (click)="processingIntervention(intervention.id)">Prendre en
                            charge</button>
                    </div>
                    <div class="flex justify-center">
                        <button class="btn-alert"
                            (click)="closeIntervention(intervention.id); $event.stopPropagation()">Signaler un
                            problème</button>
                    </div>
                </div>

            </div>
        </div>
        }

    </div>
    @if (interventionsAssigned.length === 0) {
    <div class="text-center py-12 text-gray-500">
        <p class="text-lg">Aucune demande assignées pour le moment.</p>
    </div>
    }


    <div class="grid grid-cols-1 gap-0.5 pt-10">
        <div class="bg-gray-800/50 rounded-lg border border-gray-900 p-4 mb-2 ">
            <h3 class="text-sm text-center font-semibold text-gray-300 uppercase tracking-wider ">Demandes en cours de
                traitement:</h3>
        </div>
        <div class="grid grid-cols-1">
            @for (intervention of interventionsProcessing; track intervention.id) {
            <div class="bg-gray-900 border border-gray-500 rounded-xl p-4 hover:bg-gray-800/70 transition-colors cursor-pointer"
                (click)="toggleDetails(intervention.id)">

                <div class="grid grid-cols-2 items-center text-center">
                    <div>
                        <p class="text-white font-semibold mb-1 ">{{ intervention.title }}</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500">{{ intervention.created_at | date:'dd/MM/yyyy' }}</p>
                    </div>

                </div>



            </div>
            <div class="grid transition-all duration-900"
                [ngClass]="expandedId === intervention.id ? 'grid-rows-[1fr]' : 'grid-rows-[0fr]'">
                <div class="w-full overflow-hidden border border-gray-200 dark:border-gray-700 rounded-lg">
                    <div
                        class="bg-gray-50 dark:bg-gray-800 px-4 py-3.5 flex items-center border-b border-gray-200 dark:border-gray-700">
                        <h3 class="text-sm font-normal text-gray-500 dark:text-gray-400">Détails de l'intervention</h3>
                    </div>
                    <div class="bg-white dark:bg-gray-900 p-6 space-y-4 text-sm grid grid-cols-2 items-center">
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Titre</span>
                            <span class="text-base font-semibold text-slate-100">{{ intervention.title }}</span>
                        </div>
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Lieu</span>
                            <span class="text-base text-slate-100">{{ intervention.location }}</span>
                        </div>
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Date de création</span>
                            <span class="font-mono text-slate-100">{{ intervention.created_at | date:"dd/MM/yyyy"
                                }}</span>
                        </div>
                        <div class="flex flex-col pb-2">
                            <span class="text-slate-500 font-medium mb-1">Statut</span>
                            <span [ngClass]="getStatusClass(intervention.status).cssClass"
                                class="inline-block w-fit px-2.5 py-0.5 rounded-full text-xs font-bold uppercase tracking-wider">
                                {{ getStatusClass(intervention.status).label }}
                            </span>
                        </div>

                        <div class="flex justify-center">
                            <button class="btn-success"
                                (click)="closeIntervention(intervention.id); $event.stopPropagation()">Cloturer</button>
                        </div>
                        <div class="flex justify-center">
                            <button class="btn-alert"
                                (click)="closeIntervention(intervention.id); $event.stopPropagation()">Signaler un
                                problème</button>
                        </div>
                    </div>


                </div>
            </div>
            }
        </div>
    </div>
    @if (interventionsProcessing.length === 0) {
    <div class="text-center py-12 text-gray-500">
        <p class="text-lg">Aucune demande en cours de traitement.</p>
    </div>
    }




    <div class="grid grid-cols-1 gap-0.5 pt-10">

        <div class="bg-gray-800/50 rounded-lg border border-gray-900 p-4 mb-2">
            <h3 class="text-sm text-center font-semibold text-gray-300 uppercase tracking-wider ">Demandes cloturées
            </h3>
        </div>
        <div class="grid grid-cols-1">
            @for (intervention of interventionsClosed; track intervention.id) {
            <div class="bg-gray-900 border border-gray-500 rounded-xl p-4 hover:bg-gray-800/70 transition-colors cursor-pointer"
                (click)="toggleDetails(intervention.id)">
                <div class="grid grid-cols-2 items-center text-center">
                    <div>
                        <p class="text-white font-semibold mb-1 ">{{ intervention.title }}</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500">{{ intervention.created_at | date:'dd/MM/yyyy' }}</p>
                    </div>


                </div>
            </div>
            <div class="grid transition-all duration-900"
                [ngClass]="expandedId === intervention.id ? 'grid-rows-[1fr]' : 'grid-rows-[0fr]'">
                <div class="w-full overflow-hidden border border-gray-200 dark:border-gray-700 rounded-lg">
                    <div
                        class="bg-gray-50 dark:bg-gray-800 px-4 py-3.5 flex items-center border-b border-gray-200 dark:border-gray-700">
                        <h3 class="text-sm font-normal text-gray-500 dark:text-gray-400">Détails de l'intervention</h3>
                    </div>
                    <div class="bg-white dark:bg-gray-900 p-6 space-y-4 text-sm grid grid-cols-2 items-center">
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Titre</span>
                            <span class="text-base font-semibold text-slate-100">{{ intervention.title }}</span>
                        </div>
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Lieu</span>
                            <span class="text-base text-slate-100">{{ intervention.location }}</span>
                        </div>
                        <div class="flex flex-col border-b border-slate-100 dark:border-slate-800 pb-2">
                            <span class="text-slate-500 font-medium">Date de création</span>
                            <span class="font-mono text-slate-100">{{ intervention.created_at | date:"dd/MM/yyyy"
                                }}</span>
                        </div>
                        <div class="flex flex-col pb-2">
                            <span class="text-slate-500 font-medium mb-1">Statut</span>
                            <span [ngClass]="getStatusClass(intervention.status).cssClass"
                                class="inline-block w-fit px-2.5 py-0.5 rounded-full text-xs font-bold uppercase tracking-wider">
                                {{ getStatusClass(intervention.status).label }}
                            </span>
                        </div>


                    </div>


                </div>
            </div>
            }
        </div>
    </div>
</div>